*{
    margin: 0;
    padding: 0;
}

.circleSize{
    padding: 20px;
    margin: 20px;
        height: 120px;
        width: 120px;
        border-color: black;
        border-radius: 50%;
        display: inline-block;
        border:solid
}

.circleColor{
    background-color: #ffff;
}

.flex{
    display: flex;
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;

}

 h2{

        width: 30%; 
        height: 30%;
        border:solid;
        border-color: black;
        background-color: #FFFF;
        padding: 1%;
        margin: 1%;
        margin-left: 33%;
        font-size: 3em;
        text-align: center;
}

.border{
    border: 1px solid black;
    margin: 1%;
    margin-left: 18%;
    padding: 1%;
    height: 60%;
    width: 60%;
    

}
/* .circleGoal{
    height: 120px;
        width: 120px;
        border-color: darkred;
} */
